html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#container {
    position: relative;
    width: 780px;
    height: 450px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

#connectButton {
    width: 300px;
    height: 50px;
    font-size: 30px;
}

#localPreview{
    transform-origin: left top;
    position: absolute;
    left: 8px;
    top: 8px;
    width: 640px;
    height: 360px;
    scale: 0.25;
    z-index: 2;
}

#remotePreview{
    position: 'absolute';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(-1)
}

video {
    width: 240px;
    height: 135px;
}

